*, *::before, *::after {
    box-sizing: border-box;
    font-weight: normal;
}
body{
    margin: 0;
    padding: 0;
}
.calculator-container{
    display: grid;          ;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.calculator-container > button {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid #fff;
    outline: none;
}

.calculator-container > button:hover {
    background: #fff;
}

.span-2 {
    grid-column: span 2;
}
.output-container {
    grid-column: 1 / -1;
    border: 1px solid #000;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}
.output-container > .previous-operand {
    font-size: 1.5rem;
}
.output-container > .current-operand {
    font-size: 2.5rem;
}
